.pandaimg {
    width: 250px;
    margin-top: 30px;
}

.topdiv {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    font-size: 30px;
    padding: 10px;
}

.maintable {
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
}